<h1>Tax calculator</h1>
<form #simpleForm="ngForm" (ngSubmit)="onSubmit(simpleForm.value)">
  <label for="fname">Tax year:</label><br>
  <input type="text" ngModel name="taxYear">
  <br><br>
  <label for="fname">Age:</label><br>
  <input type="text" ngModel name="age">
  <br><br>
  <label for="fname">Total taxable earnings:</label><br>
  <input type="text" ngModel name="totalTaxableEarning">
  <br><br>
  <label for="fname">Total member on medical aid:</label><br>
  <input type="text" ngModel name="medicalAidMainMemberAndDependants">
  <br><br>
  <label for="fname">Frequency:</label><br>
  <input type="text" ngModel name="taxFrequency">
  <br><br>
  <button type="submit">Calculate tax breakdown</button>
</form>
